langchain==0.2.1
langchain-chroma==0.1.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-openai==0.1.7
langchain-text-splitters==0.2.0
langcodes==3.3.0
langsmith==0.1.63
sentence-transformers==3.0.0
colorama==0.4.6
types-colorama==0.4.15.12
mongoengine==0.24.2
pymongo==4.6.3